<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.animal.mappers.MemberMapper"> 
	<insert id="join">
	insert into member(id,pass,email,mobile,nickname)
	values(#{id},#{pass},#{email},#{mobile},#{nickname})
	</insert>
	
	<select id="checklogin" resultType="com.animal.domain.MemberDTO">
	select * from member where id = #{id}
	</select>
	
	<insert id="join2">
	insert into member(email,name,nickname,mobile,id)
	values(#{email},#{name},#{nickname},#{mobile},#{email})
	</insert>
	
	<select id="isUserExist" parameterType="string" resultType="int">
    SELECT COUNT(*) FROM member WHERE nickname = #{nickname}
	</select>
	
	<select id="checkemail" resultType="com.animal.domain.MemberDTO">
	select * from member where email = #{email}
	</select>
	
	<select id="checkmobile" resultType="com.animal.domain.MemberDTO">
	select * from member where mobile = #{mobile}
	</select>
	
	<select id="checkid" resultType="com.animal.domain.MemberDTO">
	select * from member where id = #{id}
	</select>
	
	<select id="checkeidmail" resultType="com.animal.domain.MemberDTO">
	select * from member where id = #{id} and email = #{email}
	</select>
	
	<update id="findpassPro">
	UPDATE member
	SET pass = #{pass}
	WHERE id = #{id}
	</update>
	
	<select id="checkeidmobile" resultType="com.animal.domain.MemberDTO">
	select * from member where id = #{id} and mobile = #{mobile}
	</select>
	
	<insert id="join3">
	insert into member(email,nickname,id)
	values(#{email},#{nickname},#{email})
	</insert>

	







</mapper>